%mont-regular{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}
%mont-medium{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}
%mont-semibold{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}
%mont-bold{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
%mont-extrabold{
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
}
$yellow: #E9E01A;
$yellow-transparent: rgba(233, 224, 26, 0.75);
$green: #B8F01A;
