%mont-regular{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}
%mont-medium{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}
%mont-bold{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

$title-elements: #4C4E28;
$bg-light:#f3d7ca;
$bg-btn: #B6334B;