@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
@import "../../node_modules/normalize.css/normalize";
@import "../../node_modules/magnific-popup/dist/magnific-popup";
@import "../css/jquery.formstyler";
@import "../css/jquery.formstyler.theme";
@import "fonts";
@import "vars";

html{
    box-sizing: border-box;
}


*, *::before, *::after{
    box-sizing: inherit;
}
body{
    @extend %mont-regular;
    font-size: 18px;
    line-height: 24px;
}
a{
    text-decoration: none;
    color: inherit;
    display: inline-block;
    cursor: pointer;
}

ul, li{
    margin: 0;
    padding: 0;
    list-style: none;
}
h1, h2, h3, h4, h5, h6{
    margin: 0;
}
h1{
    font-size: 24px;
    line-height: 37px;
    align-items: center;
    letter-spacing: 0.5px;
}
button{
    border: none;
    outline: none;
    cursor: pointer;
}
.container{
    max-width: 1200px;
    padding: 0 35px;
    margin: 0 auto;
}
.title{
    color: $title-elements;
    @extend %mont-medium;
    margin-bottom: 55px;
    font-size: 32px;
    line-height: 37px;
    letter-spacing: 0.5px;
}
//____________________________________________________________________________________________main-screen_____
.main-screen{
    height: calc(100vh + 100px);
	.container{
		position: relative;
		height: inherit;
        padding-left: 0;
        padding-right: 0;
	}
}
.main-screen__right{
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	z-index: 1;
	right: 0;
	padding:auto 0;
	padding-right: 15px;
	width: 439px;
	height: calc( var(--vh, 1vh) * 100);
}
.main-screen__img{
    /* background-image: url('../images/test-main-photo.jpg');  //ЗАМЕНЕНО ИЗОБРАЖЕНИЕ test-
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top; */
    height: calc( 100vh + 100px);
    width: 70%;
    object-fit: cover;
    position: absolute;
    z-index: -1;
}
.main-screen__text{
    color: $title-elements;
    font-size: 14px;
    line-height: 18px;
	margin-top: 10%;
    width: 60%;
	text-align: right;
	position: relative;
	&::before{
		content:'';
		position: absolute;
		right: 0px;
		top: 25px;
		width: 298px;
		height: 8px;
		background-color: rgba(178, 132, 109, 0.53);
	}
}
.main-screen__title{
	padding: 43px 22px 43px 29px;
	margin-bottom: 26px;
	background-color: #F3D7CA;
    @extend %mont-regular;
    font-size: 24px;
    line-height: 37px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
	position: relative;
    span{
        text-transform: capitalize;
    }
	&::before{
		content: '';
		position: absolute;
		width: 161px;
		height: 11px;
		right: 0px;
		top: 213px;
		background-color: $title-elements;
	}
}	
.main-socials{
	display: flex;
    margin-bottom: 20px;
    flex-direction: column;
    justify-content: space-between;
    width: 58px;
	margin-right: 0;
	margin-left: auto;
    img{
        width: 58px;
        height: 58px;
    }
    img + img{
        margin-top: 35px;
    }
}

.scroll-arrow{
    position: fixed;
    display: block;
	z-index: 80;
    bottom: 0;
    right: 25%;
    width: 52px;
    height: 52px;
}
.scroll-arrow.animated{
    animation: arrowanimation 2s ease-in-out infinite;
}
@keyframes arrowanimation {
    from {bottom: 0;}
    50% {bottom: 15px;}
    to {bottom: 0;}
}


//______________________________________________________________________________________________navigation_________

.menu__list{
    display: flex;
    justify-content: space-between;
    padding: 20px 58px;
    background-color: $bg-light;
}
.menu__list-item{
    @extend %mont-medium;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.5px;
    position: relative;
    &::before{
        content: '';
        width: 0;
        left: auto;
        position: absolute;
        background-color: $bg-btn;
        height: 3px;
        bottom: -20px;
        transition: all .3s;
        right: 0;
    }
    &:hover{
        color: black;
        &::before{
            width: 100%;
            right: auto;
            left: 0;
        }
    }
}
nav{
    position: sticky;
    top: 0;
    z-index: 90;
    .container{
        padding-left: 0;padding-right: 0;
    }
}
//_______________________________________________________________________________________________about____________
.about{
    .container{
        padding-left: 0;
        padding-right: 0;
    }
    padding-top: 33px;
    padding-bottom: 63px;
}
.about__wrapper{
    display: flex;
    justify-content: space-between;
}
.about__text{
    max-width: 666px;
    padding-left: 20px;
    padding-right: 12px;
    margin-top: 214px;
    position: relative;
    &::before{
        content: '';
        position: absolute;
        height: 6px;
        width: 579px;
        top: -23px;
        left: 0;
        background: rgba(178, 132, 109, 0.53);
    }
    p{
        font-size: 20px;
        line-height: 36px;
    }
    h2{
        @extend %mont-regular;
        font-size: 20px;
        line-height: 36px;
    }
}
.about__img{
    width: 480px;
    height: 480px;
    display: inline-block;
    object-fit: cover;
}
//__________________________________________________________________________programme_____
.programme{
    .container{
        padding-top: 70px;
        padding-bottom: 70px;
        background-color: rgba(243, 215, 202, 0.4);;
    }
}
.programme__list{
    padding-left: 22px;
}
.programme__list-item{
    list-style-type: disc;
    color: rgba(76, 78, 40, 0.35);
    span{
        color: black;
        font-size: 18px;
        line-height: 37px;
    }
    &::marker{
        padding: 0;
    }
}
.programme__text{
    margin-left: 80px;
    margin-top: 37px;
    @extend %mont-medium;
    font-size: 18px;
    line-height: 37px;
    position: relative;
    &::before{
        content:'';
        position: absolute;
        width: 6px;
        height: 26px;
        left: -18px;
        top: 4px;
        background-image: url('../images/attencion.svg');
        background-repeat: no-repeat;
        background-position: center;
    }
}
//__________________________________________________________________________________price______
.price__content{
    display: flex;
    justify-content: space-between;
    margin-bottom: 140px;
    img{
        width: 85px;
        height: 85px;
    }
}
.price{
    padding: 70px 0;
    .title{
        margin-bottom: 0;
    }
}
.price__content-box{
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.price__content-text{
    padding: 16px 12px 12px;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0.5px;
}
.price__info{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
    padding-bottom: 10px;
    border-bottom: 2px solid rgba(76, 78, 40, 0.198);
}
.price__num{
    @extend %mont-bold;
    color: $bg-btn;
    font-size: 64px;
    letter-spacing: 0.5px;
    line-height: 68px;
}
//______________________________________________________________________________________gallery
.gallery{
    padding-bottom: 100px;
}

.gallery__wrapper{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}
.gallery__item{
    padding: 0;
    margin: 0;
    width: 373px;
    img{
        width: 100%;
    }
}

/* overlay at start */
.mfp-fade.mfp-bg {
    opacity: 0;
    -webkit-transition: all 0.15s ease-out;
    -moz-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
}
/* overlay animate in */
.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.8;
}
/* overlay animate out */
.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0;
}

/* content at start */
.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;

  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
/* content animate it */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;
}
/* content animate out */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
}


//__________________________________________________________________________________date_________
.date{
    padding-bottom: 70px;
}
.date__title{
    text-align: center;
}
.date__wrapper{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.date__info{
    width: 50%;
    font-size: 22px;
    line-height: 37px;
    letter-spacing: 0.5px;
    padding: 47px 30px 47px 57px;
    &:nth-child(1){
        background-color: rgba(183, 149, 132, 0.48);
    }
    &:nth-child(2){
        background-color: rgba(182, 51, 75, 0.2);
    }
    &:nth-child(3){
        background-color: #F9D9CA;
    }
    &:nth-child(4){
        background-color: rgba(76, 78, 40, 0.28);
    }
}
//____________________________________________________________________________form______________
.entry{
    padding-bottom: 100px;
}
#main-form{
    width: 50%;
    padding: 0 20px;
    text-align: right;
    input{
        height: 54px;
        padding: 10px 32px;
    }
    input, textarea{
        width: 100%;
        background-color:  rgba(243, 215, 202, 0.32);
        border: none;
        outline: none;
        margin-bottom: 25px;
        &::placeholder{
            font-size: 16px;
            line-height: 22px;
            color: rgba(0, 0, 0, 0.55);
        }
    }
    textarea{
        padding: 25px 32px;
        resize: none;
    }
    button{
        @extend %mont-medium;
        font-size: 22px;
        line-height: 28px;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: #fff;
        padding: 18px 60px;
        background-color: $bg-btn;
    }
}
.entry__wrapper{
    display: flex;
    justify-content: space-between;
}
.entry__info{
    width: 50%;
    padding: 10px 20px 10px 35px;
    font-size: 20px;
    line-height: 28px;
}
.type-connection{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 28px;
    padding: 5px;
    label{
        font-size: 16px;
        line-height: 22px;
    }
}
.jq-radio{
    vertical-align: -2px;
    width: 16px;
    height: 16px;
    margin: 0 4px 0 0;
    border: 1px solid #4C4E28;
    background: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
    cursor: pointer;
}
.jq-radio.checked{
    background-color: #4C4E28;
    border: 1px solid #4C4E28;
}
.jq-radio.checked .jq-radio__div {
    width: 10px;
    height: 10px;
    box-shadow: none;
    margin: 3px 0px 0px 3px;
    border-radius: 50%;
    background: transparent;
}
label.error{
    font-size: 14px;
    line-height: 18px;
    @extend %mont-medium;
    color: #a70101;
    display: block;
    padding-bottom: 25px;
}
input.error{
    border: 1px solid  #a70101;
}

//____________________________________________________________________________footer________
.footer{
    padding-top: 30px;
    border-top: 1px solid #B79584;
}
.footer__top{
    text-align: center;
    a{
        font-size: 20px;
        line-height: 24px;
    }
}
.footer__socials{
    margin: 15px auto;
    width: 258px;
    display: flex;
    justify-content: space-between;
}
.footer__bottom{
    padding: 42px 44px 13px;
    background-color: $bg-light;
    font-size: 14px;
    letter-spacing: 0.5px;
    line-height: 18px;
    color: rgba(0, 0, 0, 0.35);
}


@import 'media';